    <form method="post" action="/imagen" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" name="Título" id="titulo" placeholder="Título">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" name="descripción" id="descripcion" placeholder="Descripción">
        </div>
        <div class="form-group">
            <label for="archivo">Archivo:</label>
            <input type="file" name="archivo" id="archivo">
        </div>

        <button type="submit" class="btn btn-default">Subir archivo</button>
    </form>